[Desktop Entry]
Name=LaLaDesk
NoDisplay=true
MimeType=x-scheme-handler/laladesk;
TryExec=laladesk
Exec=laladesk %u
Icon=laladesk
Terminal=false
Type=Application
StartupNotify=false
StartupWMClass=laladesk
